<!-- Toolbar -->
<!-- <mat-toolbar class="toolbar center-content">
    <span class="back-class">
        <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
    </span>
    <span>In Gate</span>
</mat-toolbar> -->

<div class="card-container">
    <mat-card class="margin-card">
        <mat-card-content class="card-content">
            <p>In-Gate selected.</p>
            <p>Thank you for watching this demo.</p>
        </mat-card-content>
        
    </mat-card>
</div>
<div class="button-container">
    <mat-card class="margin-card">
        <mat-card-content class="button-content" (click)="navigateBack()">
            Back To Planning Screen
        </mat-card-content>
    </mat-card>
</div>
        <!-- <body>
            <button mat-button  class="classic-button" (click)="navigateBack()">
                Back To Planning Screen
            </button>
        </body> -->

