<!-- Toolbar -->
<!-- <mat-toolbar class="toolbar center-content">
    <span class="back-class">
        <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
    </span>
    <span>Out Gate</span>
</mat-toolbar> -->

<div class="card-container">
    <mat-card class="margin-card">
        <mat-card-content class="card-content">
            <p>Out-Gate selected.</p>
            <p>Thank you for watching this demo.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="margin-card">
        <mat-card-content class="button-content" (click)="navigateBack()">
            Back To Planning Screen
        </mat-card-content>
    </mat-card>

</div>

