.margin-card {
    margin: 16px;
}

.toolbar {
    background-color: #0079bb;
    color: #fff;
}

.text-content {
    font-size: 16px;
    padding-top: 4%;
    padding-left: 10%;
}

.card-content {
    display: flex;
    align-items: center;
}